<div class="objective-container">
  <div class="data-analyst-objective objective header">
    <p>
      Hi I am Dinesh(Din-s), Software Developer by profession for 3+ years.
      <span>
        Possessing I highly transferrable skills from the domain of software
        development.
      </span>
      <span>Have also worked on Data centric business problems.</span>
    </p>
    <ul class="domain-specific skills">
      <li class="list-item">Problem Solving attitude</li>
      <li class="list-item">Working with SQL Databases for Data Modelling</li>
      <li class="list-item">
        Writing efficient SQL queries to meet business requirement.
      </li>
      <li class="list-item">
        Designing
        <strong
          >asthetic, user friendly User Interface the end user in mind.</strong
        >
      </li>
    </ul>
    <div class="technologies-container">
      <section class="technologies">
        Technologies
        <ul class="technologies row">
          <li class="technology">
            <!-- icon mysql-->
          </li>
          <li class="technology">
            <!-- icon python -->
          </li>
          <li class="technology">
            <!-- icon power bi -->
          </li>
          <li class="technology">
            <!-- icon javascript-->
          </li>
          <li class="technology">
            <!-- icon html -->
          </li>
        </ul>
      </section>
    </div>
    <div class="other-domain-specific-profiles">
      <section class="public-profile">
        Public Profiles
        <ul class="domain-specific-public-profiles row">
          <li class="public-profile ms-learn power-bi">
            <!-- icon power bi -->
          </li>
          <li class="public-profile data-camp">
            <!-- icon data-camp -->
          </li>
          <li class="public-profile kaggle">
            <!-- icon kaggle -->
          </li>
          <li class="public-profile free-code-camp">
            <!-- icon free-code-camp -->
          </li>
        </ul>
      </section>
    </div>
  </div>

  <div class="software-developer-objective objective header">
    <p>
      Hi I am Dinesh(Din-s), Software Developer by profession for 3+ years. In
      my career I have worked on Full stack where most of experience comes in
      Front End technogies like in demand JavaScript Frameworks like Angular,
      React, Vue
    </p>
    <ul class="domain-specific skills">
      <li class="list-item">Problem Solving attitude.</li>
      <li class="list-item">
        Designing and defining logic for complex business needs.
      </li>
      <li class="list-item">
        Writing efficient, readable, resuable and maintainable codebases.
      </li>
      <li class="list-item">
        Mentor junior Devs on Code Standard, Peer reviewing, knowledge transfer
        of the project.
      </li>
    </ul>
    <div class="technologies-container">
      <section class="technologies">
        Technologies
        <ul class="technologies row">
          <li class="technology">
            <!-- icon mysql-->
          </li>
          <li class="technology">
            <!-- icon python -->
          </li>
          <li class="technology">
            <!-- icon power bi -->
          </li>
          <li class="technology">
            <!-- icon javascript-->
          </li>
          <li class="technology">
            <!-- icon html -->
          </li>
          <li class="technology">
            <!-- icon css -->
          </li>
        </ul>
      </section>
    </div>
    <div class="other-domain-specific-profiles">
      <section class="public-profile">
        Public Profiles
        <ul class="domain-specific-public-profiles row">
          <li class="public-profile github">
            <!-- icon github -->
          </li>
          <li class="public-profile free-code-camp">
            <!-- icon free-code-camp -->
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
