<section>
  <div class="header">
    <header>
      <div class="profile-image">
        <img
          src="https://avatars.githubusercontent.com/u/46292283?s=400&u=1828f9aa5fc5889023311a68050fe5caa6ea2e1e&v=4"
          alt="profile-image"
          class="avatar"
        />
      </div>
      <div class="profile-contact">
        <div class="socials email">
          <!-- icon -->
          <a href="mailto:sdinesh960124@gmail.com" class="socials emailId">sdinesh960124@gmail.com</a>
        </div>
        <div class="socials linkedin">
          <!-- icon -->
          <a
            href="https://www.linkedin.com/in/din-s-sharma"
            class="linkedin-profile"
            target="_blank"
            >din-s-sharma</a
          >
        </div>
        <div class="socials whatsapp call">
          <!-- icon -->
          <a
            href="https://wa.me/qr/WKDZH7TSI5G2I1"
            class="whatsapp-profile"
            title="Dinesh whatsapp"
            >8108606801</a
          >
        </div>
      </div>
    </header>
  </div>
</section>
