<section>
  <div class="header">
    <header>
      <div class="profile-image">
        <img src="" />
      </div>
      <div class="profile-contact">
      <div class="socials email">
        <!-- icon -->
        <p class="emailid">sdinesh960124@gmail.com</p>
      </div>
      <div class="socials linkedin">
        <!-- icon -->
        <a href="https://www.linkedin.com/in/din-s-sharma" class="linkedin-profile" target="_blank">din-s-sharma</a>
      </div>
      <div class="socials whatsapp call">
        <!-- icon -->
        <a href="https://wa.me/qr/WKDZH7TSI5G2I1" class="whatsapp-profile" title="Dinesh whatsapp">8108606801</a>
      </div>
      </div>
    </header>
  </div>
</section>
